* {
  margin:0;
  padding:0;
}
body {    
  font-family: arial;    
  background-color: #FFF;
  font-family:Impact,fantasy;
/*  margin-left: 20em;
  margin-right: 20em;*/
}

h1 {        
  background-color:#CCC;    
  border: 1px solid;    
  color:#39F;    
  text-align: center;    
}

#logo {
  text-align: center;    
  background-color: white;
  display:inline;
}

img.logo {
/*  margin-top: 10px;*/
  height: 128px;
  margin-bottom: 5px;
  text-align: center;
}

li#maintitle {
  background-color:white;
  color:black;
  font-family:"Domestic Manners","URW Chancery L","Brush Script MT",Zapfino,"Apple Chancery","Bradley Hand ITC","Monotype Corsiva","Comic Sans MS",cursive;
  font-size: 36px;
  padding: 10px;
}

.footermenu ul,
.mainmenu ul {
  padding-top:10px;
  list-style-type: none;
  /*background-color: #D1D4F7;*/
  background-color: gray;
  height: 20px;
}

.logtitle li,
.footermenu li,
.mainmenu li {
  float: right;
}

.footermenu li {
  float: right;
}

.footermenu ul a,
.mainmenu ul a {
  /*background-image: url(images/navi_bg_divider.png);
  background-repeat: no-repeat;
  background-position: right;*/
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  line-height: 20px;
  text-decoration: none;
 /* font-family: Georgia, "Times New Roman", Times, serif;*/
  font-size: 16px;
  color: white;
}

.footermenu ul a:hover,
.mainmenu ul a:hover {
  color: #000;
}
.footermenu ul{
  padding-bottom: 3%;
}
.pagecontent {
  margin-left:20%;
  margin-right:20%;
  margin-bottom:20px;
  margin-top:20px;
  font-size:16pt;
  font-family: "sans-serif";
}

.content {
/*  margin-left:20%;
  margin-right:20%;
  margin-top:10px;*/
  padding-left: 20%;
  padding-right: 20%;
  padding-top:10%;
  padding-bottom: 10%;
  color: white;
  background-color:black;
}

.oootypos {
}

.oootypo {
}

.ooourls {
}

.ooourl {
  display:inline;
}
